pihole_password: CHANGE-ME

protonvpn_wireguard_private_key: CHANGE-ME

jdownloader_myjd_email: CHANGE-ME
jdownloader_myjd_password: CHANGE-ME

immich_db_username: immich
immich_db_password: CHANGE-ME

samba_user_username: CHANGE-ME
samba_user_password: CHANGE-ME

mktxp_username: CHANGE-ME
mktxp_password: CHANGE-ME

grafana_username: CHANGE-ME
grafana_password: CHANGE-ME

dashboard_admin_password: CHANGE-ME
