---
# https://blog.vikramchauhan.com/selinux-fix-mergerfs-allow-docker-samba-access/
- name: Set SELinux boolean for Docker if using MergerFS
  ansible.builtin.seboolean:
    name: virt_sandbox_use_fusefs
    state: true
    persistent: true
  become: true

- name: Add Docker DNF repository
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/fedora/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    owner: root
    group: root
    mode: '0644'
  register: common_docker_repo
  become: true

- name: Update dnf and install Docker Engine
  ansible.builtin.dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - python3-docker
    state: present
    update_cache: "{{ common_docker_repo.changed }}"
  become: true

- name: Ensure Docker is started
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
  become: true

- name: Ensure current ansible user is added to the docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
  become: true

- name: Reset connection so docker group is picked up
  ansible.builtin.meta: reset_connection

- name: Create docker network
  community.docker.docker_network:
    name: ritsu-pi
    state: present
    driver: bridge
    ipam_config:
      - subnet: "{{ server_docker_network.subnet }}"
        gateway: "{{ server_docker_network.gateway }}"
        iprange: "{{ server_docker_network.ip_range }}"
