---
- Personal Stuff:
    - Ritsu:
        href: https://ritsu.net
        icon: mdi-home-automation
        description: My homelab server

    - Kodesiana:
        href: https://kodesiana.com
        icon: mdi-web
        description: "#NgodingItuMudah"

- Monitoring:
    - Grafana:
        href: https://grafana.ritsu.net
        icon: sh-grafana
        description: Grafana

    - Prometheus:
        href: https://prometheus.ritsu.net
        icon: sh-prometheus
        description: Metrics collector    

    - Cockpit:
        href: https://cockpit.ritsu.net
        icon: sh-cockpit
        description: Cockpit fleet monitoring

    - Dockhand:
        href: https://dockhand.ritsu.net
        icon: sh-dockhand
        description: Dockhand

- Multimedia:
    - Immich:
        href: https://immich.ritsu.net
        icon: sh-immich
        description: Photo management
        
    - Jellyfin:
        href: https://jellyfin.ritsu.net
        icon: sh-jellyfin
        description: Movie & TV streaming

    - Radarr:
        href: https://radarr.ritsu.net
        icon: sh-radarr
        description: Movie

    - Sonarr:
        href: https://sonarr.ritsu.net
        icon: sh-sonarr
        description: TV series

    - Lidarr:
        href: https://lidarr.ritsu.net
        icon: sh-lidarr
        description: Music

    - Bazaar:
        href: https://bazaar.ritsu.net
        icon: sh-bazarr
        description: Subtitles

    - Prowlarr:
        href: https://prowlarr.ritsu.net
        icon: sh-prowlarr
        description: Indexer

    - Jackett:
        href: https://jackett.ritsu.net
        icon: sh-jackett
        description: Indexer

- Networking:
    - DNSCrypt:
        href: https://dnscrypt.ritsu.net
        icon: mdi-spa
        description: DNSCrypt monitoring

    - Pi-hole:
        href: https://pihole.ritsu.net/admin
        icon: sh-pi-hole
        description: Pi-hole DNS ad-blocking

    - qBittorrent:
        href: https://qbittorrent.ritsu.net
        icon: sh-qbittorrent
        description: Torrent download manager

    - JDownloader:
        href: https://jdownloader-novpn.ritsu.net
        icon: sh-jdownloader
        description: Download manager

    - JDownloader (VPN):
        href: https://jdownloader-vpn.ritsu.net
        icon: sh-jdownloader
        description: Download manager with VPN

- Developer Tools:
    - SonarQube:
        href: https://sonarqube.ritsu.net
        icon: sh-sonarqube
        description: Cockpit fleet monitoring

    - MLflow:
        href: https://mlflow.ritsu.net
        icon: si-mlflow
        description: Grafana visualization

    - Seq:
        href: https://seq.ritsu.net
        icon: sh-seq
        description: Log & trace management

    - Zot Registry:
        href: https://registry.ritsu.net
        icon: sh-zot-registry
        description: OCI image registry

    - PostgreSQL:
        href: 10.20.20.101:5432
        icon: sh-postgresql
        description: Primary RDBMS
        
    - Garage:
        href: https://garage-s3.ritsu.net
        icon: sh-garage
        description: S3-compatible storage API
