---
- name: Check current node_exporter version.
  command: "{{ monitoring_exporters.node.bin_path }} --version"
  failed_when: false
  changed_when: false
  register: monitoring_exporter_node_version_check

- name: Determine latest GitHub release (local)
  delegate_to: localhost
  become: false
  uri:
    url: "https://api.github.com/repos/prometheus/node_exporter/releases/latest"
    body_format: json
  register: monitoring_exporter_node_github_release
  until: monitoring_exporter_node_github_release.status == 200
  run_once: true
  retries: 5

- name: Set monitoring_exporter_node_version
  set_fact:
    monitoring_exporter_node_version: "{{ monitoring_exporter_node_github_release.json.tag_name
      | regex_replace('^v?([0-9\\.]+)$', '\\1') }}"

- name: Set monitoring_exporter_node_exporter_download_url
  set_fact:
    monitoring_exporter_node_exporter_download_url: >-
      https://github.com/prometheus/node_exporter/releases/download/v{{ monitoring_exporter_node_version }}/node_exporter-{{ monitoring_exporter_node_version }}.linux-{{ monitoring_exporters.node.arch }}.tar.gz

- name: Download and unarchive node_exporter into temporary location.
  unarchive:
    src: "{{ monitoring_exporter_node_exporter_download_url }}"
    dest: /tmp
    remote_src: true
    mode: "0755"
  when: >
    monitoring_exporter_node_version_check.stdout is not defined
    or monitoring_exporter_node_version not in monitoring_exporter_node_version_check.stdout
  register: monitoring_exporter_node_download_check

- name: Move node_exporter binary into place.
  copy:
    src: "/tmp/node_exporter-{{ monitoring_exporter_node_version }}.linux-{{ monitoring_exporters.node.arch }}/node_exporter"
    dest: "{{ monitoring_exporters.node.bin_path }}"
    mode: "0755"
    remote_src: true
  notify: Restart Node Exporter
  when: >
    monitoring_exporter_node_download_check is changed
    or monitoring_exporter_node_version_check.stdout | length == 0
  become: true

- name: Copy the node_exporter systemd unit file.
  template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    mode: "0644"
  register: monitoring_node_service
  notify: Restart Node Exporter
  become: true

- name: Reload systemd daemon if unit file is changed.
  systemd:
    daemon_reload: true
  when: monitoring_node_service is changed
  become: true

- name: Ensure node_exporter is running and enabled at boot.
  service:
    name: node_exporter
    state: started
    enabled: true
  become: true

- name: Verify node_exporter is responding to requests.
  uri:
    url: "http://localhost:{{ monitoring_exporters.node.port }}/"
    return_content: true
  register: monitoring_exporter_node_metrics_output
  failed_when: "'Metrics' not in monitoring_exporter_node_metrics_output.content"
