# {{ ansible_managed }}

[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node-exporter
Group=node-exporter
Type=simple
ExecStart={{ ritsu.components.exporter_node.install_path }} --web.listen-address=0.0.0.0:{{ ritsu.components.exporter_node.port }}

[Install]
WantedBy=multi-user.target
