---
# SMB user
samba_user:
  group: sambausers
  username: foo
  password: bar

# directories to share
samba_mount_points:
  - name: pi_share
    path: /media/primary
    writeable: true
    browsable: true
