map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

ssl_certificate             /etc/letsencrypt/live/ritsu.net/fullchain.pem;
ssl_certificate_key         /etc/letsencrypt/live/ritsu.net/privkey.pem;
ssl_protocols               TLSv1.2 TLSv1.3;
ssl_ciphers                 HIGH:!aNULL:!MD5;
ssl_prefer_server_ciphers   off;

ssl_session_cache           shared:SSL:10m;
ssl_session_timeout         10m;

client_max_body_size        5G;
