# {{ ansible_managed }}

name: adblock

networks:
  pihole:
    external: true

services:
  dnscrypt:
    container_name: dnscrypt
    image: "{{ adblock_dnscrypt.image }}"
    restart: unless-stopped
    networks:
      pihole:
        ipv4_address: "{{ adblock_docker_network.dnscrypt_bind_ip }}"
    ports:
      - "{{ adblock_dnscrypt.port }}:8080"
    volumes:
      - "{{ adblock_config_dir }}/dnscrypt/dnscrypt-proxy.toml:/dnscrypt-proxy.toml:ro"

  pihole:
    container_name: pihole
    image: "{{ adblock_pihole.image }}"
    restart: unless-stopped
    networks:
      - pihole
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ adblock_pihole.port }}:80/tcp"
      - "{{ adblock_pihole.port_https }}:443/tcp"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
    environment:
      - "TZ={{ timezone | default('Etc/UTC') }}"
      - "FTLCONF_webserver_api_password={{ adblock_pihole.password }}"
      - "FTLCONF_dns_listeningMode=all"
      - "FTLCONF_dns_upstreams={{ adblock_docker_network.dnscrypt_bind_ip }}#5053"
    volumes:
      - "{{ adblock_config_dir }}/pihole:/etc/pihole"
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    labels:
      flame.type: "application"
      flame.name: "Pi-Hole"
      flame.url: "http://{{ server_hostname }}:{{ adblock_pihole.port }}"
      flame.icon: "custom"
