# {{ ansible_managed }}

name: adblock

networks:
  ritsu-pi:
    external: true

services:
  dnscrypt:
    container_name: dnscrypt
    image: "{{ adblock_dnscrypt.image }}"
    restart: unless-stopped
    networks:
      ritsu-pi:
        ipv4_address: "{{ adblock_dnscrypt.bind_ip }}"
    ports:
      - "{{ adblock_dnscrypt.port }}:8080"
    volumes:
      - "{{ adblock_config_dir }}/dnscrypt/dnscrypt-proxy.toml:/config/dnscrypt-proxy.toml:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.dnscrypt.rule=Host(`{{ adblock_dnscrypt.host }}`)"
      - "traefik.http.routers.dnscrypt.entrypoints=websecure"
      - "traefik.http.services.dnscrypt.loadbalancer.server.port=8080"

  pihole:
    container_name: pihole
    image: "{{ adblock_pihole.image }}"
    restart: unless-stopped
    networks:
      - ritsu-pi
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ adblock_pihole.port }}:80/tcp"
      - "{{ adblock_pihole.port_https }}:443/tcp"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
    environment:
      - "TZ={{ timezone | default('Etc/UTC') }}"
      - "FTLCONF_webserver_api_password={{ adblock_pihole.password }}"
      - "FTLCONF_dns_listeningMode=all"
      - "FTLCONF_dns_upstreams={{ adblock_dnscrypt.bind_ip }}#5053"
    volumes:
      - "{{ adblock_config_dir }}/pihole:/etc/pihole"
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.pihole.rule=Host(`{{ adblock_pihole.host }}`)"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
