{% if global_domain and ritsu_components.pihole %}
server {
  listen 80;
  listen [::]:80;
  server_name {{ pihole.hostname }}.{{ global_domain }};

  location / {
    include /etc/nginx/includes/proxy.conf;
    proxy_pass http://pihole:{{ pihole.port }};
  }
}
{% endif %}

# Default route
server {
  listen 80;
  listen [::]:80;
  server_name {{ global_domain }};

  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }
}
