# {{ ansible_managed }}

{% if ritsu.components.cadvisor.subdomain %}
server {
  listen 80;
  listen [::]:80;
  server_name {{ ritsu.components.cadvisor.subdomain }}.{{ ritsu.components.reverse_proxy.root_domain }};

  location / {
    include /etc/nginx/includes/proxy.conf;
    proxy_pass http://cadvisor:{{ ritsu.components.cadvisor.port }};
  }
}
{% endif %}

# Default route
server {
  listen 80;
  listen [::]:80;
  server_name {{ ritsu.components.reverse_proxy.root_domain }};

  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }
}
