daemon            off;
worker_processes  4;

{% if domain_name_enable and domain_name %}
server {
  listen 80;
  listen [::]:80;
  server_name grafana.magi.net;

  location / {
    include /etc/nginx/includes/proxy.conf;
    proxy_pass http://grafana:3000;
  }
}
{% endif %}

{% if domain_name_enable and domain_name %}
server {
  listen 80;
  listen [::]:80;
  server_name prometheus.magi.net;

  location / {
    include /etc/nginx/includes/proxy.conf;
    proxy_pass http://prometheus:9090;
  }
}
{% endif %}

# Default route
server {
  listen 80;
  listen [::]:80;
  server_name prometheus.magi.net;

  location / {
    root  html
  }
}

