# {{ ansible_managed }}

# ---- reverse proxy config for: {{ item.subdomain }}
upstream {{ item.subdomain }} {
  server {{ item.upstream }};
}

server {
  listen      80;
  listen      [::]:80;
  server_name {{ item.subdomain }}.{{ root_domain }};

  return 301 https://$host$request_uri;
}

server {
  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ item.subdomain }}.{{ root_domain }};

  ssl_certificate        /etc/nginx/ssl/certs/ritsu.crt;
  ssl_certificate_key    /etc/nginx/ssl/certs/ritsu.key;

  location / {
    include    /etc/nginx/includes/proxy.conf;
    proxy_pass http://{{ item.subdomain }};
  }
}
