# Default route
server {
  listen      80;
  listen      [::]:80;
  server_name {{ root_domain }};

  return 301 https://$host$request_uri;
}

server {
  listen      443 ssl;
  listen      [::]:443 ssl;
  server_name {{ root_domain }};

  ssl_certificate        /etc/nginx/ssl/certs/ritsu.crt;
  ssl_certificate_key    /etc/nginx/ssl/certs/ritsu.key;

  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }
}
