---
- name: Create arr config directories
  ansible.builtin.file:
    path: "{{ arr_stack_config_dir }}/{{ item }}"
    state: directory
    mode: "0775"
  loop:
    # VPN
    - "gluetun"
    # downloaders
    - "qbittorrent"
    - "jdownloader-vpn"
    - "jdownloader-novpn"
    # arr stack
    - "bazarr"
    - "radarr"
    - "lidarr"
    - "sonarr"
    - "prowlarr"

- name: Create download directory tree
  ansible.builtin.file:
    path: "{{ arr_stack_media_dir }}/{{ item }}"
    state: directory
    mode: "0775"
  loop:
    - "torrents"
    - "jdownloader"
    - "trash"

- name: Create torrents directory tree
  ansible.builtin.file:
    path: "{{ arr_stack_media_dir }}/torrents/{{ item }}"
    state: directory
    mode: "0775"
  loop:
    - books
    - movies
    - music
    - series

- name: Create media directory tree
  ansible.builtin.file:
    path: "{{ arr_stack_media_dir }}/media/{{ item }}"
    state: directory
    mode: "0775"
  loop:
    - books
    - movies
    - music
    - series

- name: Pull image from registry
  community.docker.docker_image:
    state: "{{ arr_stack_state }}"
    name: "{{ item }}"
    source: pull
  loop:
    - "{{ arr_stack_gluetun.image }}"
    - "{{ arr_stack_qbittorrent.image }}"
    - "{{ arr_stack_jdownloader.image }}"
    - "{{ arr_stack_bazarr.image }}"
    - "{{ arr_stack_radarr.image }}"
    - "{{ arr_stack_sonarr.image }}"
    - "{{ arr_stack_lidarr.image }}"
    - "{{ arr_stack_prowlarr.image }}"

- name: Copy Docker Compose template
  ansible.builtin.template:
    src: templates/compose.yml.j2
    dest: "{{ arr_stack_config_dir }}/compose.yml"
    mode: "0775"

- name: Start Docker Compose services
  community.docker.docker_compose_v2:
    state: "{{ arr_stack_state }}"
    project_src: "{{ arr_stack_config_dir }}"
    remove_orphans: true
