# {{ ansible_managed }}

name: immich

networks:
  ritsu-pi:
    external: true

services:
  immich-server:
    container_name: immich_server
    image: "{{ immich_images.server }}"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - ritsu-pi
    ports:
      - "{{ immich_port }}:2283"
    volumes:
      - "{{ immich_upload_dir }}:/data"
      - "/etc/localtime:/etc/localtime:ro"
    depends_on:
      - redis
      - database
    healthcheck:
      disable: false
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.immich.rule=Host(`{{ immich_host }}`)"
      - "traefik.http.routers.immich.entrypoints=websecure"
      - "traefik.http.services.immich.loadbalancer.server.port=2283"
    extends:
      file: hwaccel.transcoding.yml
      service: "{{ immich_hwaccel.transcoding | default('cpu') }}"

  immich-machine-learning:
    container_name: immich_machine_learning
    image: "{{ immich_images.ml }}"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - ritsu-pi
    volumes:
      - {{ immich_config_dir }}/model-cache:/cache
    healthcheck:
      disable: false
    extends:
      file: hwaccel.ml.yml
      service: "{{ immich_hwaccel.ml | default('cpu') }}"

  redis:
    container_name: immich_redis
    image: "{{ immich_images.redis }}"
    restart: unless-stopped
    networks:
      - ritsu-pi
    healthcheck:
      test: redis-cli ping || exit 1

  database:
    container_name: immich_postgres
    image: "{{ immich_images.postgres }}"
    restart: unless-stopped
    environment:
      - "POSTGRES_DB={{ immich_db.name }}"
      - "POSTGRES_USER={{ immich_db.username }}"
      - "POSTGRES_PASSWORD={{ immich_db.password }}"
      - "POSTGRES_INITDB_ARGS='--data-checksums'"
      - "DB_STORAGE_TYPE={{ immich_db.storage_type | default('HDD') }}"
    networks:
      - ritsu-pi
    shm_size: 128mb
    volumes:
      - "{{ immich_config_dir }}/postgres:/var/lib/postgresql/data"
