[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=node-exporter
Group=node-exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address=0.0.0.0:{{ node_exporter.port }}

[Install]
WantedBy=multi-user.target
