---
- name: Ensure apt cache is up to date
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts.userspace_bits == '32'

- name: Create configuration directories
  ansible.builtin.import_tasks: directories.yml

- name: Upgrade libseccomp2 to latest version (32-bit Debian)
  ansible.builtin.import_tasks: debian-libseccomp-update.yml
  when:
    - ansible_facts.os_family == "Debian"
    - ansible_facts.userspace_bits == '32'
    - ansible_facts.packages['libseccomp2'][0]['version'] is version('2.4.4', '<')  # noqa 204

- name: Install packages
  ansible.builtin.import_tasks: packages.yml
