# {{ ansible_managed }}

name: downloader

networks:
  ritsu-pi:
    external: true

services:
  # ----------------- VPN -----------------
  gluetun:
    container_name: gluetun
    image: "{{ downloader_gluetun.image }}"
    restart: unless-stopped
    privileged: true
    networks:
      - ritsu-pi
    ports:
      - 6881:6881
      - 6881:6881/udp
      - "{{ downloader_sabnzbd.port }}:8080"
      - "{{ downloader_qbittorrent.port }}:{{ downloader_qbittorrent.port }}"
      - "{{ downloader_jdownloader.ports.vpn }}:{{ downloader_jdownloader.ports.vpn }}"
    environment: {{ downloader_gluetun.env | to_yaml }}
    cap_add:
      - NET_ADMIN
    volumes:
      - "{{ downloader_config_dir }}/gluetun:/gluetun"
    devices:
      - /dev/net/tun:/dev/net/tun

  # ----------------- DOWNLOADERS -----------------
  qbittorrent:
    container_name: qbittorrent
    image: "{{ downloader_qbittorrent.image }}"
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - WEBUI_PORT={{ downloader_qbittorrent.port }}
      - TORRENTING_PORT=6881
    volumes:
      - "{{ downloader_config_dir }}/qbittorrent:/config"
      - "{{ downloader_qbittorrent.download_dir }}:/downloads"

{% if downloader_sabnzbd.state == 'present' %}
  sabnzbd:
    container_name: sabnzbd
    image: "{{ downloader_sabnzbd.image }}"
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - "{{ downloader_config_dir }}/sabnzbd:/config"
      - "{{ downloader_sabnzbd.download_dir_complete }}:/downloads"
      - "{{ downloader_sabnzbd.download_dir_incomplete }}:/incomplete-downloads"
{% endif %}

  jdownloader-vpn:
    container_name: jdownloader-vpn
    image: "{{ downloader_jdownloader.image }}"
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - USER_ID=1000
      - GROUP_ID=1000
      - TZ={{ timezone }}
      - PORT={{ downloader_jdownloader.ports.vpn }}
      - MYJDOWNLOADER_EMAIL={{ downloader_jdownloader.myjd.email }}
      - MYJDOWNLOADER_PASSWORD={{ downloader_jdownloader.myjd.password }}
      - MYJDOWNLOADER_DEVICE_NAME={{ downloader_jdownloader.myjd.device }}-vpn
      - JDOWNLOADER_HEADLESS=1
    volumes:
      - "{{ downloader_config_dir }}/jdownloader-vpn:/config"
      - "{{ downloader_jdownloader.download_dir }}:/output"

  jdownloader-novpn:
    container_name: jdownloader-novpn
    image: "{{ downloader_jdownloader.image }}"
    restart: unless-stopped
    networks:
      - ritsu-pi
    ports:
      - "{{ downloader_jdownloader.ports.novpn }}:{{ downloader_jdownloader.ports.novpn }}"
    environment:
      - USER_ID=1000
      - GROUP_ID=1000
      - TZ={{ timezone }}
      - PORT={{ downloader_jdownloader.ports.novpn }}
      - MYJDOWNLOADER_EMAIL={{ downloader_jdownloader.myjd.email }}
      - MYJDOWNLOADER_PASSWORD={{ downloader_jdownloader.myjd.password }}
      - MYJDOWNLOADER_DEVICE_NAME={{ downloader_jdownloader.myjd.device }}-novpn
      - JDOWNLOADER_HEADLESS=1
    volumes:
      - "{{ downloader_config_dir }}/jdownloader-novpn:/config"
      - "{{ downloader_jdownloader.download_dir }}:/output"
