[Unit]
Description=qBittorrent-nox service
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
User=qbittorrent-nox
Group=qbittorrent-nox
ExecStart=/usr/bin/qbittorrent-nox --webui-port={{ qbittorrent.ports.webui | int }}
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
