---
- name: Create data directory
  ansible.builtin.file:
    path: "{{ mlflow_config_dir }}"
    state: directory
    mode: "0775"
  register: mlflow_config_dir_reg

- name: Pull image from registry
  community.docker.docker_image:
    state: "{{ mlflow_state }}"
    name: "{{ mlflow_image }}"
    source: pull

- name: Start and connect container to network
  community.docker.docker_container:
    name: mlflow
    image: "{{ mlflow_image }}"
    command: mlflow server --host 0.0.0.0 --port {{ mlflow_port }} --allowed-hosts "{{ mlflow_host }}"
    restart_policy: unless-stopped
    working_dir: /home/mlflow
    env:
      MLFLOW_BACKEND_STORE_URI: sqlite:///mlflow.db
    published_ports:
      - "{{ mlflow_port }}:{{ mlflow_port }}"
    networks:
      - name: ritsu-pi
    volumes:
      - "{{ mlflow_config_dir_reg.path }}:/home/mlflow:rw"
    labels:
      traefik.enable: "true"
      traefik.docker.network: "ritsu-pi"
      traefik.http.routers.mlflow.rule: "Host(`{{ mlflow_host }}`)"
      traefik.http.routers.mlflow.entrypoints: "websecure"
      traefik.http.services.mlflow.loadbalancer.server.port: "{{ mlflow_port }}"
    state: "{{ 'started' if mlflow_state == 'present' else 'absent' }}"
