# Global prometheus config
global:
  scrape_interval: 1m
  evaluation_interval: 1m
  scrape_timeout: 10s

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

{% if node_exporter.enable %}
  - job_name: "node_exporter"
    static_configs:
      - targets: ["{{ ansible_facts.default_ipv4.address }}:{{ node_exporter.port }}"]
{% endif %}

{% if cadvisor.enable %}
  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
{% endif %}
