# {{ ansible_managed }}

# Global prometheus config
global:
  scrape_timeout: 25s       # must be less than scrape_interval
  scrape_interval: 30s

# scrape data from exporters
scrape_configs:
{% if ritsu.components.exporter_cadvisor.enabled %}
  - job_name: exporter_cadvisor
    static_configs:
      - targets: ["exporter_cadvisor:8080"]
{% endif %}

{% if ritsu.components.exporter_blackbox.enabled %}
  - job_name: exporter_blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ ritsu.components.exporter_blackbox.ping_hosts | to_yaml }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: exporter_blackbox:9115
{% endif %}

{% if ritsu.components.exporter_mikrotik.enabled %}
  - job_name: exporter_mikrotik
    static_configs:
      - targets: ["exporter_mikrotik:49090"]
{% endif %}

{% if ritsu.components.exporter_node.enabled %}
  - job_name: exporter_node
    static_configs:
      - targets: ["{{ ansible_facts.default_ipv4.address }}:{{ ritsu.components.exporter_node.port }}"]
{% endif %}

{% if ritsu.components.exporter_speedtest.enabled %}
  - job_name: exporter_speedtest
    scrape_interval: "{{ ritsu.components.exporter_speedtest.scrape_interval }}"
    scrape_timeout: 15m
    static_configs:
      - targets: ["exporter_speedtest:9798"]
{% endif %}

{% if ritsu.components.exporter_sensor_suhu_server.enabled %}
  - job_name: exporter_sensor_suhu_server
    static_configs:
      - targets: ["exporter_sensor_suhu_server:9000"]
{% endif %}
