# {{ ansible_managed }}

# Global prometheus config
global:
  scrape_timeout: 30s
  scrape_interval: 1m

# scrape data from exporters
scrape_configs:
{% if prometheus_exporters.node.enabled %}
  - job_name: exporter_node
    static_configs:
      - targets: ["{{ ansible_facts.default_ipv4.address }}:{{ prometheus_exporters.node.port }}"]
{% endif %}

{% if prometheus_exporters.blackbox.enabled %}
  - job_name: exporter_blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ prometheus_exporters.blackbox.ping_hosts | to_yaml }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: exporter_blackbox:9115
{% endif %}

{% if prometheus_exporters.cadvisor.enabled %}
  - job_name: exporter_cadvisor
    static_configs:
      - targets: ["exporter_cadvisor:8080"]
{% endif %}

{% if prometheus_exporters.mikrotik.enabled %}
  - job_name: exporter_mikrotik
    static_configs:
      - targets: ["exporter_mikrotik:49090"]
{% endif %}

{% if prometheus_exporters.speedtest.enabled %}
  - job_name: exporter_speedtest
    scrape_interval: "{{ prometheus_exporters.speedtest.scrape_interval }}"
    scrape_timeout: 15m
    static_configs:
      - targets: ["exporter_speedtest:9798"]
{% endif %}

{% if prometheus_exporters.sensor_suhu.enabled %}
  - job_name: exporter_sensor_suhu
    static_configs:
      - targets: ["{{ prometheus_exporters.sensor_suhu.host }}"]
{% endif %}

{% if prometheus_remote_write.enabled %}
# remote write to vector
remote_write:
  - name: vector
    url: "http://prometheus-vector:9090"
    queue_config:
      max_shards: 20
    write_relabel_configs:
      - regex: 'container_label_.*'
        action: 'labeldrop'
{% endif %}
