# {{ ansible_managed }}

name: monitoring

networks:
  ritsu-pi:
    external: true

services:
{% if monitoring_grafana.state == 'present' %}
  grafana:
    container_name: grafana
    image: "{{ monitoring_grafana.image }}"
    restart: unless-stopped
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    environment:
      - GF_SECURITY_ADMIN_USER={{ monitoring_grafana.user.username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ monitoring_grafana.user.password }}
      - GF_USERS_ALLOW_SIGN_UP={{ monitoring_grafana.user.allow_signup | string | lower }}
    networks:
      - ritsu-pi
    ports:
        - "{{ monitoring_grafana.port }}:3000"
    volumes:
      - "{{ monitoring_config_dir }}/grafana/data:/var/lib/grafana"
      - "{{ monitoring_config_dir }}/grafana/dashboards:/var/lib/grafana/dashboards"
      - "{{ monitoring_config_dir }}/grafana/provisioning:/etc/grafana/provisioning"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.grafana.rule=Host(`{{ monitoring_grafana.host }}`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
{% endif %}

{% if monitoring_prometheus.state == 'present' %}
  prometheus:
    container_name: prometheus
    image: "{{ monitoring_prometheus.image }}"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus/data
      - --storage.tsdb.retention.size={{ monitoring_prometheus.retention.size }}
      - --storage.tsdb.retention.time={{ monitoring_prometheus.retention.time }}
    restart: unless-stopped
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"
    networks:
      - ritsu-pi
    ports:
        - "{{ monitoring_prometheus.port }}:9090"
    volumes:
      - "{{ monitoring_config_dir }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "{{ monitoring_config_dir }}/prometheus/data:/prometheus/data:rw"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.prometheus.rule=Host(`{{ monitoring_prometheus.host }}`)"
      - "traefik.http.routers.prometheus.entrypoints=websecure"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
{% endif %}

{% if monitoring_exporters.cadvisor.state == 'present' %}
  cadvisor:
    container_name: exporter-cadvisor
    image: "{{ monitoring_exporters.cadvisor.image }}"
    restart: unless-stopped
    privileged: true
    ports:
      - "{{ monitoring_exporters.cadvisor.port }}:8080"
    networks:
      - ritsu-pi
    volumes:
      - /:/rootfs:ro
      - /sys:/sys:ro
      - /dev/disk/:/dev/disk:ro
      - /var/run:/var/run:ro
      - /var/lib/docker/:/var/lib/docker:ro
    devices:
      - /dev/kmsg
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.cadvisor.rule=Host(`{{ monitoring_exporters.cadvisor.host }}`)"
      - "traefik.http.routers.cadvisor.entrypoints=websecure"
      - "traefik.http.services.cadvisor.loadbalancer.server.port=8080"
{% endif %}

{% if monitoring_exporters.blackbox.state == 'present' %}
  blackbox:
    container_name: exporter-blackbox
    image: "{{ monitoring_exporters.blackbox.image }}"
    command: --config.file=/config/blackbox.yml
    restart: unless-stopped
    ports:
      - "{{ monitoring_exporters.blackbox.port }}:9115"
    networks:
      - ritsu-pi
    volumes:
      - "{{ monitoring_exporters_blackbox_config_dir.path }}/blackbox.yml:/config/blackbox.yml:ro"
{% endif %}

{% if monitoring_exporters.speedtest.state == 'present' %}
  speedtest:
    container_name: exporter-speedtest
    image: "{{ monitoring_exporters.speedtest.image }}"
    restart: unless-stopped    
    ports:
      - "{{ monitoring_exporters.speedtest.port }}:9898"
{% if monitoring_exporters.speedtest.server_id %}
    environment:
      - "SPEEDTEST_SERVER_ID={{ monitoring_exporters.speedtest.server_id }}"
{% endif %}
    networks:
      - ritsu-pi
    healthcheck:
      test: ["NONE"]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.speedtest.rule=Host(`{{ monitoring_exporters.speedtest.host }}`)"
      - "traefik.http.routers.speedtest.entrypoints=websecure"
      - "traefik.http.services.speedtest.loadbalancer.server.port=9898"
{% endif %}

{% if monitoring_exporters.mikrotik.state == 'present' %}
  mikrotik:
    container_name: exporter-mikrotik
    image: "{{ monitoring_exporters.mikrotik.image }}"
    command: --cfg-dir /mktxp_config export
    restart: unless-stopped
    ports:
      - "{{ monitoring_exporters.mikrotik.port }}:49090"
    networks:
      - ritsu-pi
    volumes:
      - "{{ monitoring_exporters_mikrotik_config_dir.path }}:/mktxp_config:rw"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.mikrotik.rule=Host(`{{ monitoring_exporters.mikrotik.host }}`)"
      - "traefik.http.routers.mikrotik.entrypoints=websecure"
      - "traefik.http.services.mikrotik.loadbalancer.server.port=49090"
{% endif %}

{% if monitoring_exporters.apcupsd.state == 'present' %}
  apcupsd:
    container_name: exporter-apcupsd
    image: "{{ monitoring_exporters.apcupsd.image }}"
    restart: unless-stopped
    environment:
      - "APCUPS_ADDR={{ ansible_default_ipv4.address }}:3551"
    networks:
      - ritsu-pi
    ports:
      - "{{ monitoring_exporters.apcupsd.port }}:9162"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.apcupsd.rule=Host(`{{ monitoring_exporters.apcupsd.host }}`)"
      - "traefik.http.routers.apcupsd.entrypoints=websecure"
      - "traefik.http.services.apcupsd.loadbalancer.server.port=9162"
{% endif %}

{% if monitoring_exporters.smartctl.state == 'present' %}
  smartctl:
    container_name: exporter-smartctl
    image: "{{ monitoring_exporters.smartctl.image }}"
    restart: unless-stopped
    privileged: true
    user: root
    networks:
      - ritsu-pi
    ports:
      - "{{ monitoring_exporters.smartctl.port }}:9633"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ritsu-pi"
      - "traefik.http.routers.smartctl.rule=Host(`{{ monitoring_exporters.smartctl.host }}`)"
      - "traefik.http.routers.smartctl.entrypoints=websecure"
      - "traefik.http.services.smartctl.loadbalancer.server.port=9633"
{% endif %}
