# {{ ansible_managed }}

api:
  enabled: true
  address: 0.0.0.0:8686

sources:
  prometheus:
    type: prometheus_remote_write
    address: "0.0.0.0:{{ monitoring_vector.remote_write.port }}"

sinks:
  local_file:
    type: file
    inputs:
      - prometheus
    path: "/opt/vector/logs/prom-%Y-%m-%d.csv"
    compression: zstd
    encoding:
      codec: json
