name: Lint
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version-file: ./.python-version

      - name: Install test dependencies
        run: pip3 install ansible-core ansible-lint

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy collection install -r requirements.yml

      - name: Lint code
        run: ansible-lint --offline -c .ansible-lint.yml
